*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #f7f7f7;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Container{
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 500px;
}
input{
  height: 50px;
  width: 500px;
  border: none;
  background: white;
  padding-left: 15px;
  margin-top: 5px;
 
 }

    
select{
  width: 500px;
  height:50px ;
  background-color: white;
  border: none;
  margin: 15px;
}
.expenseIndicator,
.incomeIndicator{
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-bottom: 5px;
}
.incomeIndicator{
  background-color: red;
  
}
.expenseIndicator{
  background-color: green;
}

button{
  width: 300px;
  height: 30px;
  margin-top: 14px;
  margin-top: 4px;
}
.header{
  align-items: center;
  justify-content: center;
}
.selectCurrency{
  width: 246px;
  margin-left:5px ;
}
.showCurrency{
  width: 513px;
  height: 40px;
  background-color: white;
  display: block;
}
.transaction{
  display: flex;
  align-items: center;
  gap: 160px;
}